﻿@{
    ViewBag.Title = "AWACS Ticket Web";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">AWACS Ticket System</h1>
        <p class="lead">This application will allow the record and tracking of open tasks during the MRO process of the AWACS E-3, in the most optimal manner.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="AirbusDefenceAndSpaceTitel">
            <h2 id="AirbusDefenceAndSpaceTitel">Airbus Defence and Space</h2>
            <p>Airbus Defence and Space is responsible for the Maintenance, Repair and Overhaul (MRO) of the Boeing E-3 AWACS.</p>
            <p><a class="btn btn-primary btn-md" href="https://www.airbus.com/en/defence">Learn more &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="AWACSE-3Title">
            <h2 id="AWACSE-3Title">AWACS E-3</h2>
            <p>The E-3 Sentry AWACS is an airborn warning and control system aircraft. Its maintenance is a long and expensive process which can always be improved. This application will help optimizing a critical component of the procedure.</p>
            <p><a class="btn btn-primary btn-md" href="https://www.af.mil/About-Us/Fact-Sheets/Display/Article/104504/e-3-sentry-awacs/">Learn more &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="NATOTitle">
            <h2 id="NATOTitle">NATO</h2>
            <p>The NATO is the key organisation which operates the AWACS E-3 and thereof, most of the NATO countries work together in the maintenance operations of the mentioned aircraft.</p>
            <p><a class="btn btn-primary btn-md" href="https://www.nato.int/cps/en/natohq/topics_48904.htm">Learn more &raquo;</a></p>
        </section>
    </div>
</main>